@import "./base";
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  font-family: "Lato", sans-serif;
  position: relative;
  &::-webkit-scrollbar {
    width: 10px;
    background: $clr-skill;
  }

  &::-webkit-scrollbar-thumb {
    background: $clr-skill-bg;
  }
}
@media screen and (min-width: $bp-1200) {
  html {
    font-size: 16px;
  }
}
@media screen and (min-width: $bp-992) and (max-width: $bp-1200) {
  html {
    font-size: 15px;
  }
}
@media screen and (min-width: $bp-768) and (max-width: $bp-992) {
  html {
    font-size: 14px;
  }
}
@media screen and (min-width: $bp-600) and (max-width: $bp-768) {
  html {
    font-size: 12px;
  }
}
@media screen and (min-width: $bp-425) and (max-width: $bp-600) {
  html {
    font-size: 10px;
  }
}
@media screen and (min-width: $bp-0) and (max-width: $bp-425) {
  html {
    font-size: 8px;
  }
}
