@import "./base";
.project {
  margin: 1em;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  &:hover {
    img {
      transform: scale(1.15);
    }
  }
  & > img {
    object-fit: cover;
    height: 9em;
    width: 18em;
    transition: transform 0.3s ease-in;
    @include mq($bp-0, $bp-600) {
      height: 14em;
      width: 28em;
    }
  }
  .project__info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    padding: 1em;
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: rgba(0, 0, 0, 0.75);
    }
    & > h3 {
      font-size: 1rem;
      letter-spacing: 1px;
      text-transform: capitalize;
      margin-bottom: 0.3em;
      opacity: 0;
      pointer-events: none;
      transition: all 0.2s ease-in-out;
      @include mq($bp-0, $bp-425) {
        font-size: 1.5rem;
      }
    }
    .project__links {
      display: flex;
      & a {
        text-decoration: none;
        color: inherit;
        display: inline-block;
        margin: 0.5em;
        opacity: 0;
        pointer-events: none;
        transition: all 0.2s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        & svg {
          @include mq($bp-0, $bp-425) {
            font-size: 2.5rem;
            margin: 0.15em 0;
          }
        }
        & span {
          font-size: 0.75rem;
          @include mq($bp-0, $bp-425) {
            font-size: 1.25rem;
          }
        }
      }
    }
    &:hover h3,
    &:hover a {
      opacity: 1;
      pointer-events: auto;
    }
  }
}
