.contact {
  background-color: #191919;
  display: flex;
  flex-direction: column;
}
.contact > h1 {
  font-size: 3.5rem;
  font-weight: 900;
  color: #08fdd8;
  margin-bottom: 0.5em;
}
.contact__form {
  display: flex;
  flex-direction: column;
}
.contact__form > div:first-of-type {
  display: flex;
}
.contact__form > div > input,
.contact__form > div:first-of-type > input,
.contact__form > textarea {
  flex: 1;
  padding: 1em;
  font-size: 1.05rem;
  outline: none;
  background-color: #2b2b2b;
  color: #6c6c6c;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid #666666;
  margin-bottom: 0.7em;
}
.contact__form > div:first-of-type > input:last-of-type {
  margin-left: 0.7em;
}
.contact__form > div:nth-of-type(2) {
  display: flex;
}
.contact__form div input:focus {
  border-bottom: 2px solid #08fdd8;
}
.contact__form textarea:focus {
  border-bottom: 2px solid #08fdd8;
}
.contact__form > textarea {
  font-size: 1.1rem;
  margin-bottom: 0.5em;
}
.contact__form > textarea::placeholder {
  font-size: 1.15rem;
}
.contact__form > button {
  margin-top: 1.2em;
  align-self: flex-end;
  background-color: inherit;
  border: 0;
  font-size: 1rem;
  border-radius: 4px;
  padding: 0.7em 1.5em;
  border: 2px solid #08fdd8;
  color: #08fdd8;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  transition: all 0.15s ease-in-out;
}
.contact__form > button:hover,
.contact__form > button:focus {
  color: #111;
  outline: 0;
  background-color: #08fdd8;
}
.contact__form > button:active {
  transform: scale(0.95);
}
