.footer {
  background-color: #090909;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__arrow {
  position: absolute;
  top: -20px;
  left: 49%;
  width: 2.8em;
  background-color: #6c6c6c;
  border-radius: 50%;
  transition: all 0.3s;
}
.footer__arrow a {
  text-decoration: none;
}
.footer__arrow a > svg {
  font-size: 2.5rem;
  color: white;
  margin-left: 0.05em;
}
.footer__arrow:hover {
  background-color: #08fdd8;
}
.footer__social {
  flex: 0.3;
}
.footer__social > a {
  text-decoration: none;
  margin: 0 1em;
}
.footer__social > a > svg {
  font-size: 2rem;
  color: #6c6c6c;
  transition: all 0.25s ease-in-out;
}
.footer__social > a > svg:hover {
  transform: scale(1.1);
  color: white;
}

.footer__creds {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #6c6c6c;
  justify-content: space-evenly;
}
.footer__creds > p {
  margin-bottom: 1em;
}
.footer__creds a {
  text-decoration: none;
  color: #08fdd8;
}
