.projects {
  background-color: #ebeeee;
}
.projects > h1 {
  color: #606060;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.2rem;
  text-align: center;
}
.projects__work {
  display: flex;
  flex-wrap: wrap;
  margin: 1em 0 0 0;
  justify-content: space-around;
}
.projects__project {
  margin: 1em;
  position: relative;
}
.projects__project > img {
  object-fit: contain;
  height: 9em;
}
.projects__url {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* display: none; */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.projects__url:hover {
  background-color: transparent;
}
.projects__url .projects__icon {
  height: 8em;
  width: 8em;
  background-color: #08fdd8;
  display: inline-block;
  border-radius: 50%;
  color: white;
  font-weight: 600;
  font-size: 0.6rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  transform: scale(0);
  transition: all 0.2s ease-in-out;
}
.projects__url:hover .projects__icon {
  transform: scale(1);
}
