@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Lato", sans-serif;
  position: relative;
}
section {
  padding: 5em 15em;
}
::-webkit-scrollbar {
  display: none;
}
@media screen and (min-width: 1200px) {
  section {
    padding: 5em 15em;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  section {
    padding: 4em 8em;
  }
  .projects__project > img {
    height: 9.5em;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  section {
    padding: 4em 4em;
  }
  .nav__links {
    width: 13em;
  }
  .home__banner > h1 {
    font-size: 4rem;
  }
  .projects__project > img {
    height: 14em;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  section {
    padding: 3em;
  }
  .nav__links {
    width: 11em;
  }
  .home__banner > h1 {
    font-size: 3.3rem;
  }
  .home__banner > h3:first-of-type {
    font-size: 1.3rem;
  }
  .home__banner > h3 {
    font-size: 1.1rem;
  }
  .about {
    height: 50vh;
  }
  .about__infotop > h1,
  .about__infobottom > h2 {
    font-size: 1.5rem;
  }
  .resume__skills > div > div {
    width: 8em;
    height: 7em;
    border-radius: 10px;
  }
  .resume__education > h3 {
    margin: 0 2.8em 0 0.2em;
  }
  .resume__skills > h3 {
    margin: 0 4.8em 0 0.2em;
  }
  .projects__project > img {
    height: 14em;
  }
  .contact > h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 600px) {
  section {
    padding: 3em 2em;
  }
  .nav__logo > a {
    font-size: 4.5rem;
  }

  .nav__links {
    width: 10em;
  }
  .nav__links a {
    font-size: 0.9rem;
  }
  .home__banner > h1 {
    font-size: 2.8rem;
  }
  .about {
    height: 42vh;
  }
  .home__banner > h3:first-of-type {
    font-size: 1rem;
  }
  .home__banner > h3 {
    font-size: 1rem;
  }
  .about__image > img {
    height: 7em;
  }
  .about__info {
    margin-left: 3.5em;
  }
  .about__infotop > h1,
  .about__infobottom > h2 {
    font-size: 1.3rem;
  }
  .resume__education > h3 {
    margin: 0 1.8em 0 0.2em;
    font-size: 1.2rem;
  }
  .resume__skills > h3 {
    margin: 0 3.6em 0 0.2em;
    font-size: 1.2rem;
  }
  .resume__education > div h3 {
    font-size: 1.05rem;
  }
  .resume__education > div p {
    font-size: 0.9rem;
  }
  .resume > hr {
    margin: 0 0 1em 0;
  }
  .resume__skills > div > div {
    width: 5em;
    height: 4em;
    border-radius: 5px;
  }
  .resume__skills > div > div > svg {
    font-size: 2rem;
  }
  .resume__skills > div > div > p {
    font-size: 0.8rem;
    margin-top: 0;
  }
  .projects__project > img {
    height: 7.5em;
  }
  .contact > h1 {
    font-size: 2rem;
    text-align: center;
  }
  .contact__form {
    justify-content: center;
  }
  .contact__form > div:first-of-type {
    display: block;
    width: 100%;
  }
  .contact__form > div:first-of-type > input {
    width: 100%;
  }
  .contact__form > div:first-of-type > input:last-of-type {
    margin-left: 0;
  }

  .contact__form > div > input,
  .contact__form > div:first-of-type > input,
  .contact__form > textarea {
    padding: 0.7em;
    font-size: 0.8rem;
  }
  .contact__form > textarea {
    font-size: 1rem;
    margin-bottom: 0.5em;
  }
  .contact__form > textarea::placeholder {
    font-size: 1rem;
  }
}
